body { font-family: Arial, sans-serif; margin: 20px; background:#f9f9f9;}
h1, h2 { color:#333; }
table { border-collapse: collapse; width: 100%; margin-top: 10px; }
table, th, td { border: 1px solid black; padding: 5px; }
th { background-color: #a9a1ce; }
input, select, button { padding:5px; margin:5px 0; width:300px; }
button { width:auto; cursor:pointer; }
ul li { margin: 10px 0; list-style:none;}
a { text-decoration:none; color:#4794e6; }
a:hover { text-decoration:underline; }
